@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #020617; /* Slate-950 (Simsiyah) */
  color: white;
}

/* Animasyonlar */
@keyframes pulse-slow {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.5; }
}

.animate-bounce-short {
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-5px); }
}